.editor-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px; /* Adds some spacing between the two editors */
  padding: 5px;
  margin: 5px;
  max-width: 1495px !important;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}